@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

@layer components {
  input[type=text],
  input[type=number] {
    @apply border border-gray-400
  }
  .formButton {
    @apply border-2 px-3 py-1 mx-3 mt-2 hover:text-white;
  }
}

@layer utilities {
  .grid-cols-responsive {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
